.au-achievements {
    padding-top: 30px;
    padding-bottom: 30px;
    &__section {
        background-color: #F5F5FA;
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
        margin-bottom: 30px;
    }
    &__cards {
        margin: 0 -15px;
    }
    &__card {
        display: grid;
        grid-template-columns: 1fr;
        &_none {
            display: none;
        }
    }
    &__item {
        width: calc(100% - 60px);
        height: 90px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 30px;
        border-radius: 12px;
    }
    &__scroll {
        display: flex;
        justify-content: center;
        list-style: none;
        padding-left: 0;
        &-item {
            font-size: 0;
            cursor: pointer;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            border: none;
            background-color: #24A3FF;
            opacity: 0.2;
            margin: 0 7.5px;
            &_active {
                opacity: 1;
            }
        }
    }
}

// -------------------------------------------------------------------------------------
// ----------------------------------------------------------------media 481------------
// -------------------------------------------------------------------------------------


@media (min-width: 481px) {
    .au-achievements {
        &__cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &__card {
            display: grid;
            grid-template-columns: 1fr;
            margin: 0 auto;
            width: 100%;
            &_none {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }
}

// -------------------------------------------------------------------------------------
// ----------------------------------------------------------------media 768------------
// -------------------------------------------------------------------------------------


@media (min-width: 768px) {
    .au-achievements {
        &__cards {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        &__scroll {
            &-item {
                &_none {
                    display: none;
                }
            }
        }
    }
}
