.background {
    background: url('../img/h.svg') no-repeat center top,
    linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    background-size: 523px 600px, cover;
    border-radius: 0 0 12px 12px;
    position: relative;
    &::after {
        content: '';
        height: 10px;
        background-color: #CACADB;
        position: absolute;
        bottom: -10px;
        left: 20px;
        right: 20px;
        border-radius: 0 0 12px 12px;
    }
    &::before {
        content: '';
        height: 10px;
        background: #E7E7F2;
        position: absolute;
        bottom: -20px;
        left: 40px;
        right: 40px;
        border-radius: 0px 0px 12px 12px;
    }
}

.header {
    &__section {
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-rows: min-content min-content;
        position: relative;
        margin: 0 -15px;
    }
    &__info {
        grid-column: span 2;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        &-list {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 2;
            &-link {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 1px;
                color: #B3B3BA;
                width: 33px;
                height: 25px;
                &:hover {
                    width: 33px;
                    height: 25px;
                    background-color: #F5F5FA;
                    border-radius: 8px;
                }
                &_d {
                    color: #FFFFFF;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.2);

                    }
                }
            }
            &_active {
                background-color: #F0145A;
                border-radius: 8px;
                width: 33px;
                height: 25px;
                color: #FFFFFF;
                &:hover {
                    color: #B3B3BA;
                }
            }
        }
        &-adress {
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: #B3B3BA;
            &_d {
                color: #FFFFFF;
            }
        }
        &-phone {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: #B3B3BA;
            &_d {
                color: #FFFFFF;
            }
            &:hover {
                color: #F0145A;
            }
        }
        &-fb {
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center;
        }
        &-fb:hover path {
            fill: #F0145A;
        }
        &::after {
        content: '';
        // background-color: rgba(245, 245, 250, 0.2);
        background-color: #F5F5FA;
        height: 45px;
        width: 1000px;
        position: absolute;
        top: 0;
        left: -100px;
        z-index: -1;
        }
    }

    &__logo {
        display: flex;
        padding-top: 15px;
        padding-bottom: 10px;
        &-item {
            display: flex;
            background-image: url('../img/logo-l.svg');
            background-size: cover;
            width: 70px;
            height: 32px;
            background-repeat: no-repeat;
            background-position: center;
            &_d {
                background-image: url('../img/logo-d.svg');
            }
        }
        &-item:hover {
            opacity: 0.5;
        }
        &-page {

        }
        }
    &__menu {
        display: flex;
        align-items: center;
        &-btn {
            cursor: pointer;
            background-image: url('../img/menu-btn-1.svg');
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
            background-position: center;
            border: none;
            background-color: transparent;
            &_d {
                background-image: url('../img/menu-btn-1-d.svg');
            }
        }
        &-btn:hover {
            background-color: #E6E6F0;
            border-radius: 8px;
        }
        &-nav {

        }
        &-link {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: #24A3FF;
            &:hover {
                border-bottom: 2px solid #24A3FF;
            }
            &_d {
                color: #FFFFFF;
                &:hover {
                    border-bottom: 2px solid #FFFFFF;
                }
            }
        }
        &_active {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: #F0145A;
            border-bottom: 2px solid #F0145A;
            // &:hover {
            //     color: #24A3FF;
            // }
        }
    }
}

.down {
    padding-top: 138px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__txt{
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        color: #FFFFFF;
        width: 315px;
        margin-bottom: 159px;
    }
    &__scroll {
        display: block;
        background-image: url('../img/scroll.svg');
        width: 42px;
        height: 42px;
        background-repeat: no-repeat;
        background-position: center;
        border: 2px solid rgba(245, 245, 250, 0.5);
        border-radius: 50%;
        margin: 0 auto;
        &:hover {
            background-image: url('../img/scroll-hover.svg');
            border-color: #F0145A;
            opacity: 0.5;
        }
    }
}


.header__info-adress,
.header__info-fb,
.header__menu-nav {
    display: none;
}

// -------------------------------------------------------------------------------------
// ----------------------------------------------------------------media 768------------
// -------------------------------------------------------------------------------------

@media (min-width: 768px) {
    .background {
        background-size: 894px 1024px, cover;
    }

    .header {
        &__section {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, min-content);
        }
        &__info {
            align-items: center;
            justify-content: flex-start;
            grid-column: 1 / -1;
            &-data {
                display: flex;
                align-items: center;
                position: relative;
            }
            &-adress {
                display: block;
                margin-left: 18px;
                &::after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    background-color: #E6E6F0;
                    border-radius: 50%;
                    position: absolute;
                    left: 7px;
                    top: 8px;
                }
            }
            &-phone {
                display: block;
                margin-left: 18px;
                &::after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    background-color: #E6E6F0;
                    border-radius: 50%;
                    position: absolute;
                    left: 224px;
                    top: 8px;
                }
            }
            &-fb {
                display: block;
                margin-left: 18px;
                &::after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    background-color: #E6E6F0;
                    border-radius: 50%;
                    position: absolute;
                    left: 345px;
                    top: 8px;
                }
            }
            &::after {
                display: none;
            }
        }
        &__logo {
            padding-top: 20px;
            padding-bottom: 30px;
            &-item {
                width: 130px;
                height: 60px;
            }
        }
        &__menu {
            &-btn {
                display: none;
            }
            &-nav {
                display: flex;
            }
            &-link {
                margin-right: 15px;
            }
        }
    }

    .down {
        padding-bottom: 90px;
        &__txt {
            width: 100%;
        }
    }

}

// -------------------------------------------------------------------------------------
// ----------------------------------------------------------------media 992------------
// -------------------------------------------------------------------------------------

@media (min-width: 992px) {
    .background {
        background-size: 670px 768px, cover;
    }

    .header {
        &__section {
            grid-template-columns: min-content 1fr;
            grid-template-rows: repeat(2, min-content);
        }
        &__info {
            grid-row: 1 / -1;
            grid-column: 2 / 3;
            justify-content: flex-end;
            padding-top: 0;
            padding-bottom: 18px;
        }
        &__logo {
            padding-top: 50px;
            grid-row: 1 / -1;
        }
        &__menu {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            justify-self: end;
            padding-bottom: 38px;
        }
    }

}



