.partners {
    padding-top: 30px;
    &__section {
        margin: 0 -15px;
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
        text-align: center;
        margin-bottom: 30px;
    }
    &__list {
        margin: 0 -15px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 120px;
        &_1 {
            background-color: #1C4280;
        }
        &_2 {
            background-color: #143646;
        }
        &_3 {
            background-color: #F48B30;
        }
        &_4 {
            background-color: #9E4DC3;
        }
        &_5 {
            background-color: #FD9339;
        }
        &_6 {
            background-color: #E2E2E4;
        }
        &_7 {
            display: none;
            background-color: #C71C36;
        }
        &_8 {
            display: none;
            background-color: #DCF3F9;
        }
        &_9 {
            display: none;
            background-color: #EAEAEA;
        }
        &_10 {
            display: none;
            background-color: #282240;
        }
        &_11 {
            display: none;
            background-color: #1D4568;
        }
        &_12 {
            display: none;
            background-color: #000000;
        }
    }
}

// -------------------------------------------------------------------------------------
// ----------------------------------------------------------------media 768------------
// -------------------------------------------------------------------------------------

@media (min-width: 768px) {
    .partners {
        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        &__item {
            &_7,
            &_8,
            &_9,
            &_10,
            &_11,
            &_12 {
                display: flex;
            }
        }
    }
}

// -------------------------------------------------------------------------------------
// ----------------------------------------------------------------media 992------------
// -------------------------------------------------------------------------------------

@media (min-width: 992px) {
    .partners {
        &__list {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
