* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1320px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

.body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
}



