.team {
    padding: 50px 0 30px;
    &__box {
        padding-bottom: 24px;
    }
    &__photo {
        background-image: url('../img/man.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 12px 12px 0px 0px;
        height: 500px;
    }
    &__info {
        background-color: #F5F5FA;
        border-radius: 0px 0px 12px 12px;
        padding: 26px 30px 30px 30px;
        &-link {
            cursor: pointer;
            text-decoration: none;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #24A3FF;
            position: relative;
            &::after {
                content: '';
                background-image: url('../img/services-arrow.svg');
                width: 5px;
                height: 9px;
                background-repeat: no-repeat;
                background-position: center center;
                position: absolute;
                right: -6px;
                top: 4px;
            }
        }
        &-txt {
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin-bottom: 30px;
            margin-top: 5px;
            width: 250px;
        }
        &-name {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #B3B3BA;
            margin-bottom: 6px;
            width: 200px;
        }
        &-position {
            font-size: 14px;
            line-height: 22px;
            color: #B3B3BA;
        }
    }
    &__scroll {
        display: flex;
        justify-content: center;
        list-style: none;
        padding-left: 0;
        &-item {
            font-size: 0;
            cursor: pointer;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            border: none;
            background-color: #24A3FF;
            opacity: 0.2;
            margin: 0 7.5px;
            &_active {
                opacity: 1;
            }
        }
    }
}

// -------------------------------------------------------------------------------------
// ----------------------------------------------------------------media 768------------
// -------------------------------------------------------------------------------------

@media (min-width: 768px) {
    .team {
        padding-top: 80px;
        &__info {
            &-txt {
                line-height: 46px;
            }
            &-name {
                width: auto;
            }
        }
    }
}

// -------------------------------------------------------------------------------------
// ----------------------------------------------------------------media 992------------
// -------------------------------------------------------------------------------------

@media (min-width: 992px) {
    .team {
        &__box {
            display: grid;
            grid-template-columns: 400px 1fr;
        }
        &__photo {
            border-radius: 12px 0px 0px 12px;
        }
        &__info {
            border-radius: 0px 12px 12px 0px;
        }
    }
}

// -------------------------------------------------------------------------------------
// ----------------------------------------------------------------media 992------------
// -------------------------------------------------------------------------------------

@media (min-width: 992px) {
    .team {
        &__photo {
            height: 344px;
        }
        &__info {
            height: 344px;
        }
    }
}
